/* calendar.css */
.react-calendar {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}



.react-calendar__tile {
    padding: 10px;
    background: #f0f0f0;
    border-radius: 5px;
}

.react-calendar__tile--active {
    background: #ffa726;
    color: white;
}

.react-calendar__tile--now {
    background: #ff7043;
    color: white;
}

.react-calendar__tile--hover {
    background: #ffe0b2;
}

.react-calendar__month-view__days{
    gap: 10px;
}