
  
  .highlight {
    background-color: #007bff !important;
    color: white !important;
    padding: 5px;
    text-align: center;
  }
  
  .availability-tile {
    color: white;
    border-radius: 5px;
    padding: 2px;
  }
  
  .availability-tile.regular {
    background-color: #ff8000;
  }
  
  .availability-tile.virtual {
    background-color: #42bc5e;
  }

  .availability-tile.presencial {
    background-color: #ff0000;
  }
  